@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body,
html {
  overflow-x: hidden;
  background-color: #eff2f1;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
  color: black;
}

img {
  width: 100%;
}
/* banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to left, black, rgba(106, 90, 205, 0.7)); */
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  width: 100%;
  max-width: 600px;
  gap: 20px;
}

/* Text styling */
/* .banner h4 {
  font-size: 24px; 
  margin: 0;
} */

/* Thyrocare logo styling */
.thyrocare-logo {
  width: 150px;
  height: 80px;
  transition: transform 0.3s ease-in-out;
}

.thyrocare-logo:hover {
  transform: scale(1.1);
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  position: relative;
}
.mt-7 {
  margin-top: 3rem;
}

.bg-cover {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, rgb(220, 20, 60,0.7), rgb(128, 0, 32,0.7)); */
  background: linear-gradient(
    to bottom,
    rgb(220, 20, 60, 0.7),
    rgb(106, 90, 205, 0.7)
  );
  z-index: -1;
}

.section-intro {
  margin-bottom: 40px;
}

.section-intro .divider {
  height: 4px;
  width: 70px;
  background: linear-gradient(to right, #00e0fe, #1107fe);
  margin: 5px auto;
}

/* utility */
.container-xxxl {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1720px) {
  .container-xxxl {
    max-width: 1720px;
  }
}
.custom-container {
  width: 100%;
}

.nav-link {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  background: -webkit-linear-gradient(#dc143c, #6a5acd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  margin-left: 40%;
}
#navbarNav {
  margin-right: 2%;
}
button.navbar-toggler {
  margin-right: 5%;
}

.swiper-slide1 {
  width: 100%;
  height: 700px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.content {
  max-width: 80%;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.custom-btn {
  display: inline-block;
  padding: 14px 22px;
  font-size: 1em;
  background: linear-gradient(to right, #dc143c, #6a5acd);

  text-decoration: none;
  border-radius: 100px;
  transition-property: background-color;
  transition-duration: 750ms;
  transition: all 0.4s ease;
  border: none;
  font-weight: 600;
  color: #fff;
}

.custom-btn:hover {
  color: white;
  transform: translateY(-7px);
}
.custom-btn:hover {
  color: white;
  background: linear-gradient(to right, #00e0fe, #1107fe);
}
.swiper-pagination-bullet {
  border: 2px solid white;
  height: 15px;
  width: 15px;
}
.swiper-pagination-bullet-active {
  background: linear-gradient(to right, #00e0fe, #1107fe);
}

.swiper-button-next1,
.swiper-button-prev1 {
  color: #fff;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid white;
}
.swiper-button-next1:hover,
.swiper-button-prev1:hover {
  /* background: linear-gradient(to right, #00e0fe, #1107fe); */
  background: linear-gradient(to right, #dc143c, #6a5acd);
  border: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 30px !important;
  font-weight: normal;
}
@media (max-width: 768px) {
  .overlay {
    padding: 10px;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }
  .logo {
    margin-left: 10%;
  }
  .navbar-nav {
    margin-left: 5%;
  }
}

@media (max-width: 400px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .swiper-button-next1,
  .swiper-button-prev1 {
    border: none;
    height: 20px;
    width: 20px;

  }
  .swiper-button-next1:hover,
  .swiper-button-prev1:hover {
    background: transparent;
    border: none;
  }
}
.counter {
  /* background: linear-gradient(to bottom, #DC143C, #800020); */
  background: linear-gradient(to bottom, #dc143c, #6a5acd);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.counter-item {
  margin: 10px;
}

.counter-item h2 {
  font-size: 2.5rem;
}

.counter-item p {
  margin-top: 5px;
}

/* About Us*/
.about-us-img {
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.about-us-img:hover {
  transform: scale(1.05);
}

/* video section */
.video-btn {
  width: 60px;
  height: 60px;
  background: linear-gradient(to right, #00e0fe, #1107fe);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 100px;
}
.video-btn i {
  font-size: 48px;
}

/* Features Section */

.features-section .card {
  transition: transform 0.3s ease-in-out;
}
.card:hover {
  background: linear-gradient(to right, rgb(220, 20, 60), rgb(106, 90, 205));
  border: none;
  color: white;
}

/* Circle for Icons */
.feature-icon {
  width: 80px;
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f1f1f1;
  margin: -40px auto 10px;
  border: 3px solid #fff;
  transition: transform 0.3s ease;
  transform-style: preserve-3d;
}

.feature-icon .icon-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon .icon-front {
  transform: rotateY(0deg);
}

.feature-icon .icon-back {
  transform: rotateY(180deg);
  background-color: #f1f1f1;
}

.card:hover .feature-icon {
  transform: rotateY(180deg);
}

/* Products Section */
.product_card {
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product_card:hover {
  transform: translateY(-5px);
}
#products p{
  margin-bottom: 0;
}
.product_card-img-top {
  height: 200px;
  object-fit: cover;
}

.product_card_body {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.product_card_title {
  font-size: 1.2rem;
  font-weight: bold;
}

.product_card_text {
  font-size: 0.9rem;
  /* margin-bottom: 15px; */
  flex-grow: 1;
}

.product_price {
  font-size: 1.2rem;
  color: #ff5722;
  font-weight: bold;
  margin-bottom: 10px;
}

@media (max-width: 767.98px) {
  .product_card-img-top {
    height: 150px;
  }
}

.modal-body-custom {
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#productModalImage {
  max-height: 75vh;
  width: auto;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .modal-body-custom {
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  #productModalImage {
    max-height: 60vh;
    width: auto;
    max-width: 100%;
  }
}

/* location */

.location {
  padding-bottom: 5%;
}
iframe {
  border: 1px solid black !important;
}
@media (max-width: 767px) {
  .location {
    padding-bottom: 10%;
  }
  .contact-info {
    font-size: 15px;
  }
}

/* payment */
.payment {
  color: white;
}
.payment h3 {
  font-size: 2rem;
  color: white !important;
}

.payment .p-3 {
  font-size: 1.1rem;
}

.payment .img-fluid {
  max-width: 100%;
  height: 400px !important;
}

/* testimonial */
.testimonial {
  background: linear-gradient(to right, rgb(220, 20, 60), rgb(106, 90, 205));
  color: #fff;
  padding: 20px;
  position: relative;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  text-align: center;
  min-height: 300px; 
}

.testimonial .qt {
  font-size: 60px;
  margin-bottom: 10px; 
}

.testimonial .stars {
  color: orange;
  font-size: 24px !important;
  margin: 10px 0; 
}

.circle-name {
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  display: flex;
  bottom: -45px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 1400px) {
  .testimonial {
    min-height: 350px; 
  }
}
@media screen and (max-width: 992px) {
  .testimonial {
    min-height: 450px; 
  }
}
@media screen and (max-width: 768px) {
  .testimonial {
    margin-bottom: 4rem;
    min-height: 300px; 
  }
}

/* footer */
.footer {
  background: linear-gradient(to bottom, rgb(220, 20, 60), rgb(106, 90, 205));
}

/* Ensure no border for btn-light and btn-success */
.footer .btn-light {
  color: white;
  background-color: blue;
  border: none; /* Remove border */
}

.footer .btn-light:hover {
  color: #ffffff;
  background-color: black;
  border: none; /* Remove border on hover */
}

.footer .btn-success {
  border: none; /* Remove border */
}

.footer .btn-success:hover {
  color: #ffffff;
  background-color: black;
  border: none; /* Remove border on hover */
}

.instagram-gallery .img-thumbnail {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.instagram-gallery .img-thumbnail img {
  width: 100%;
  height: auto;
}

.footer {
  padding-top: 20px; /* Adjust as needed */
}
.s-icon {
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.s-icon:hover {
  transform: scale(1.3); /* Slightly enlarge the element on hover */
}

/* Responsive adjustments for mobile view */
@media (max-width: 767.98px) {
  .footer .col-6 {
    margin-bottom: 1rem;
  }
  /* Targeting the mb-4 class within the footer */
  .footer .mb-4 {
    width: 70%; /* Set the desired width */
  }
}

/* Back to Top Button */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 35%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#back-to-top:hover {
  background-color: #c3073f;
  color: white;
}

/* floating icons */
.floating-icons {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000; /* Ensure it's on top of other elements */
}

.floating-icons a {
  width: 50px;
  height: 50px;
  background-color: #25d366; /* WhatsApp green */
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.floating-icons .call-icon {
  background-color: #007bff; /* Call icon color */
}

.floating-icons a:hover {
  transform: scale(1.1);
}

.floating-icons i {
  font-size: 24px;
}

/* Hide the icons on small devices */
@media (max-width: 768px) {
  .floating-icons {
    display: none;
  }
}

/* twitter */
.fab.fa-twitter {
  font-family: sans-serif;
}
.fab.fa-twitter::before {
  content: "ùïè";
  font-size: 1.2em;
}

.about-img .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row.custom-ml {
  margin-left: 1px;
}



/* faqs */
.accordion-button {
  border: none; /* Remove the default border */
  background: linear-gradient(to right, rgb(220, 20, 60), rgb(106, 90, 205));
  color: white !important;
  font-size: 18px;
}

.accordion-button:not(.collapsed) {
  color: #000; 
  background-color: #e9ecef; 
  
}

.accordion-item {
  border: none; 
}
/* .accordion-collapse{
  background: linear-gradient(to right, rgb(220, 20, 60), rgb(106, 90, 205)); 
} */
